.nav-header-text {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    line-height: 28px !important;
    color: #656565 !important;
}

@media (max-width: 1100px) {
    .nav-header-text {
        font-size: 16px !important;
        line-height: 26px !important;
    }
}